.block-logos {
  height: 150px;
}

.block-logos img {
  margin-top: 50px;
}

.logo {
  float: left;
  width: 21%;
  text-align: center;
}

.logo img {
  cursor: pointer;
  margin: 0 auto;
  vertical-align: middle;
}

.logo img:hover {
  margin-top: 5px!important;
  position: relative;
}

.footer h3 {
  text-align: left;
}

.footer b {
  color: #ffffff;
  font-size: 22px;
}

.footer {
  background-image: url('../image/fundo-footer.png');
  color: #b0b0b1;
}

.footer p {
  width: 90%;
}

.clock {
  color: #868686;
}

.clock:before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url('../image/clock.png');
  background-repeat: no-repeat;
  padding-left: 5px;
}

.clock:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #5c5c5c;
  background-repeat: no-repeat;
}

.local {
  color: #868686;
}

.email {
  color: #868686;
}

.telefone {
  color: #868686;
}

.local:before, .email:before, .telefone:before {
  content: '';
  width: 17px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  padding-left: 5px;
}

.local:before {
  background-image: url('../image/local.png');
}

.email:before {
  background-image: url('../image/email.png');
}

.telefone:before {
  background-image: url('../image/tel.png');
}

.footer-final {
  background-image: url('../image/fundo-footer2.png');
  color: #acabac;
  height: 90px;
}

.footer-final p {
  padding: 15px;
  width: 50%;
  float: left;
}

.social-networks-footer {
  width: 30%;
  float: right;
  padding-top: 15px;
}

.social-networks-footer ul li {
  margin-left: 25px;
  display: inline-block;
  list-style: none;
}
