body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.top {
    width: 100%;
    background-color: #2a2828;
    height: 60px;
}

.logo {
    float: left;
    padding: 17px;
    width: 65%;
}

.social-networks {
    width: 30%;
    float: right;
}

.social-networks ul li{
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
}